html, body {
    width: 768px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 26px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

.main-header {
    min-height: 56px;
    color: #000000;
    background-color: #ffffff;
}

.container {
    width: 768px;
    min-height: 56px;
    margin: 0 auto;
}

.main-menu ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-menu .nav-left {
    float: left;
    margin: 0;
    padding: 0;
    padding-left: 46px;
}
.nav-left li:nth-child(2) {
    text-align: center;
}
.main-menu .nav-right {
    float: right;
    margin: 0;
    padding-right: 46px;
    text-align: right;
}

.nav-right li:nth-child(1) {
    text-align: center;
}

.main-menu li {
    display: inline-block;
    vertical-align: top;
    width: 134px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;
}

.main-menu li a {
    display: block;
    text-decoration: none;
}

.main-menu a:link {
    color: #000000;
}

.main-menu a:visited {
    color: #000000;
    opacity: 0.3;
}

.main-menu a:hover {
    color: #81b3d2;
}

.main-menu a:active {
    color: #766357;
}


.main-menu .logo {
    position: absolute;
    z-index: 2;
    float: left;
    width: 140px;
    min-height: 70px;
    margin: 0;
}


.clearfix:after{
    content:'';
    display: table;
    clear: both;
}

.main-footer {
    position: absolute;
    z-index: 5;
    min-height: 120px;
    margin-top: -128px;
    background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .hashtag {
    float: left;
    width: 256px;
    margin-top: 25px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    
}

.main-footer .footer-social {
    float: left;
    width: 256px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    margin: 0;
    margin-right: 2px;
    margin-top: 5px;
    font-size: 0;
    background-color: #81b3d2;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}

.social-btn-tw {
    background-position: 5px -33px;
}

.social-btn-fb {
    background-position: 7px 3px;
}

.social-btn-yt {
    background-position: 3px -68px;
}

.social-btn:visited {
    background-color: #5496bd;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #81b3d2;
}

.social-btn-tw:visited,
.social-btn-fb:visited,
.social-btn-yt:visited {
    opacity: 0.3;
}

.main-footer .footer-copyright {
    float: right;
    width: 256px;
    margin: 0 auto;   
}

.footer-copyright p {
    display: inline-block;
    vertical-align: top;
    padding-top: 31px;
    padding-left: 30px;
}

.footer-copyright .logo-copyright {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    height: 45px;
    margin-top: 35px;
    font-size: 0;
    background: #ffffff url(../img/html-ac.png) no-repeat 0 0;
    text-decoration: none;
}

.logo-copyright:hover {
    background-position: 0 -99px;
}

.logo-copyright:active {
    background-position: 0 -50px;
}



/* for index.html */


.main-photo {
    position: relative;
    z-index: 1;
    width: 768px;
    height: 512px; 
}

.main-photo-mask {
    position: absolute;
    top: 476px;
    z-index: 3;
    width: 100%;
    height: 37px;
    background: url(../img/white-mask.png) no-repeat 100% 100%;
}

.main-h1 {
    width: 442px;
    margin: 0 auto;
    margin-bottom: 29px;
    margin-top: 56px;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: black;
}

.five-why {
    width: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 14px;
    text-align: center;
    color: #333333;
}

.container-content-1 .content-left {
    float: left;
    width: 256px;
    height: 256px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
    background-color: #81b3d2;
}

.container-content-1 .main-h2 {
    width: 125px;
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 25px;
    font-size: 21px;
    font-weight: 700;
}

.container-content-1 p {
    margin: 0 35px;
    margin-top: 22px;
    margin-bottom: 37px; 
}


.content-left span:before, .content-left span:after {
    content:" — ";
}

.container-content-1 .img-right {
    float: right;
    width: 512px;
    height: 256px;
}

.container-content-2 {
    padding-top: 60px;
    padding-bottom: 13px;
}

.container-content-2 .content-left {
    float: left;
    width: 256px;
    height: 256px;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
}


.container-content-2 .content-right {
    float: right;
    width: 256px;
    height: 256px;
    text-align: center;
    color: #333333;
    background-color: #ffffff;
}

.container-content-2 .home {
    width: 75px;
    height: 72px;
    margin: 0 auto;
    margin-bottom: 28px;
    background: #ffffff url(../img/home.png) no-repeat 0 0;
}

.container-content-2 .food {
    width: 74px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: #ffffff url(../img/food.png) no-repeat 0 0;
}

.container-content-2 .bonus {
    width: 64px;
    height: 76px;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 29px;
    background: #ffffff url(../img/bonus.png) no-repeat 0 0;
}

.container-content-2 .main-h2 {
    padding-bottom: 2px;
    font-weight: 700;
    color: #000000;
}

.container-content-2 p {
    
    padding: 0 46px;
    font-weight: normal;
    line-height: 21px;
}

.container-content-2 .content-right p {
    
}

.container-content-3 .content-right {
    float: right;
    width: 256px;
    height: 256px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: normal;
    color: #ffffff;
    background-color: #81b3d2;
}

.content-right span:before, .content-right span:after {
    content:" — ";
}

.container-content-3 p {
    margin-top: 23px;
    margin-bottom: 37px; 
    padding: 0 46px;
    font-weight: normal;
    line-height: 21px;
    text-align: center;
}

.container-content-3 .main-h2 {
    width: 150px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 23px;
    font-size: 21px;
    font-weight: normal;
}

.container-content-3 .img-left {
    float: left;
    width: 512px;
    min-height: 256px;
}

.container-content-4 .content-left {
    float: left;
    width: 256px;
    height: 256px;
}

.container-content-4 .content-right {
    float: right;
    width: 256px;
    height: 256px;
}

.container-content-4 {
    margin-bottom: 57px;
}

.container-content-4 .content-right,
.container-content-4 .content-left {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    background-color: #eeeeee;
}

.container-content-4 .main-h2 {
    width: 120px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 23px;
    font-size: 21px;
    font-weight: 700;
}

.container-content-4 p {
    margin-top: 23px;
    margin-bottom: 37px; 
    padding: 0 46px;
    font-weight: normal;
    line-height: 21px;
}

.Sedona-visit-text {
    width: 437px;
    min-height: 96px;
    margin: 0 auto;
    margin-bottom: 47px;
    line-height: 24px;
    text-align: center;
}

.Sedona-visit-text h3 {
    margin-bottom: 29px;
    font-size: 30px;
}

.Sedona-visit .btn-search {
    display: block;
    width: 516px;
    margin: 0 auto;
    padding: 30px 26px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #766357;
}

.map {
    position: relative;
    z-index: 1;
}

.index-search {
    position: absolute;
    z-index: 2;
    width: 460px;
    height: 286px;
    margin-left: 100px;
    padding: 54px;
    font-weight: 700;
    background-color: #ffffff;
    box-shadow: 0 7px 15px 0px rgba(0, 1, 1, 0.15); 
}

.search-date {
    position: relative;
}

.search-date label {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    margin-right: 5px;
    padding: 6px 2px;
}

.search-date input {
    width: 323px;
    height: 36px;
    margin-bottom: 30px;
    padding-left: 14px;
    padding-right: 10px;
    text-transform: uppercase;
    background-color: #f2f2f2; 
    border: none;
    outline: none;
}

input::-ms-clear {
   display: none;
}

.search-date input:hover {
    background-color: #ebebeb;
}

.search-date input:active {
    background-color: #ffffff;
    outline: 1px solid #e5e5e5;
}

.guest label {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 6px 0;
    padding-right: 37px;
}

.child label {
    text-align: right;
    padding-right: 23px;
    margin-left: 50px; 
}

.guest input,
.guest span {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    margin: 5;
    padding: 6px;
    font-size: 14px;
    text-align: center;
    color: #a9a9a9;
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

.guest input {
    height: 26px;
    color: #000000;
}

.index-search .icon-calendar {
    position: absolute;
    top: 5px;
    left: 425px;
    font-size: 21px;
    color: #c2c2c2;
}


.icon-calendar:hover,
.guest span:hover {
    color: #000000;
}

.icon-calendar:active,
.guest span:active {
    color: #81b3d2;
}

.index-search .guest {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 35px;
}


.index-search input[type="submit"] {
    width: 458px;
    height: 58px;
    margin-top: 20px;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.index-search input[type="submit"]:hover {
    background-color: #669ec0;
}

.index-search input[type="submit"]:active {
    color: #88b6d1;
    background-color: #5496bd;
}

/* for hotels.html */

.hotels-search fieldset {
    display: inline-block;
    vertical-align: top;
    min-height: 160px;
    margin: 0;
    padding: 0;
    border: none;
}

.filter {
    position: relative;
    z-index: 1;
    display: block;
    width: auto;
    height: 165px;
    padding: 26px 46px;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background: transparent url(../img/hotels-back.jpg) no-repeat 0 0;
}

.filter .column-1 {
    float: left;
   margin-right: 103px;    
}

.filter .column-2 {
    float: left;
   margin-right: 72px;    
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: block;
    margin: 10px 0;
    padding-left: 39px;
    line-height: 21px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "\2610";
    position: absolute;
    top:0;
    left: 0;
    width: 25px;
    height: 25px;
    font-family: "symbols-sedona";
    font-size: 26px;
}

input[type="checkbox"]:checked + label::before {
    content: "\2611";
    position: absolute;
    top:0;
    left: 0;
    width: 25px;
    height: 25px;
    font-family: "symbols-sedona";
    font-size: 26px;
}

input[type="checkbox"]:disabled + label::before {
    color: #6a6a6a;
}

.filter legend {
    margin: 0;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
}

.line-form {
    margin-bottom: 25px;
    font-size: 14px;
}
    
.filter .column-3 {
    float: right;
    width: 224px;
}

.filter-range-title {
    margin-bottom: 10px;
    padding-left: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
  
    height: 33px;
    
    margin-bottom: 20px;
    
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 36px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: auto;
    padding-left: 40px;
}

.price-controls input {
    width: 45px;
    
    margin: 0;
    -ms-height: 50px;
    color: inherit;
    font: inherit;

    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 2px;
}

.range-toggle-max {
    left: 70%;
}

.btn-transparent {
    display: block;
    margin: 0 43px;
  
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.search-results h2{
    float: left;
    width: 152px;
    min-height: 58px;
    margin: 0;
    padding: 0;
    padding-left: 46px;
    padding-top: 30px;
    
}

.search-results .sort {
    float: left;
    width: 362px;
    min-height: 51px;
    margin: 0;
    padding: 0;
    padding-left: 11px;
    padding-top: 35px;
    font-size: 12px;
    line-height: 18px;
}

.sort li{
    display: inline-block;
    vertical-align: top;
    font-weight: normal;;
}

.sort li:first-child {
    font-weight: 700;
}

.sort .active {
    color: #81b3d2;
}

.sort a {
    margin-left: 30px;
    text-decoration: none;
    color: #b2b2b2;
    border-bottom: 1px dotted;
}

.sort a:hover {
    color: #81b3d2;
}

.sort a:active {
    color: #000000;
}

.sort li:nth-child(1) {
    margin-right: 38px;
    
}

.search-results .switch {
    float: right;
    width: 152px;
    height: 51px;
    margin: 0;
    padding: 0;
    padding-right: 45px;
    padding-top: 35px;
    
    font-size: 0;
}

.switch .icon-up-dir,
.switch .icon-down-dir {
    position: relative;
}

.switch .icon-up-dir:before {
    content: "\25b2";
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: -15px;
    left: 112px;
    width: 5px;
    height: 5px;
    font-size: 23px;
    font-family: "symbols-sedona";
    color: #cccccc;
}

.switch .icon-down-dir:before {
    content: "\25bc";
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: -42px;
    left: 135px;
    width: 5px;
    height: 5px;
    font-size: 23px;
    font-family: "symbols-sedona";
    color: #81b3d2;
}

.switch .icon-up-dir::before::hover {
    color:  #000000;
}

.switch .icon-up-dir:before:active {
    color: #81b3d2;
}

.switch a {
    text-decoration: none;
}

.hotels .photo-hotel{
    float: left;
    width: 135px;
    min-height: 90px;
    padding: 28px 0;
    padding-left: 46px;
    padding-right: 17px;
}

.hotels .name-hotel {
    float: left;
    width: 300px;
    min-height: 152px;
    padding-right: 58px;
    padding-left: 14px;
    
    
}

.name-hotel h2 {
    margin-top: 24px;
    margin-bottom: 5px;
}

.name-hotel h2:hover {
    color: #81b3d2;
}

.name-hotel h2:active {
    color: #b2b2b2;
}

.name-hotel span {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    margin-bottom: 10px;
    margin-right: 2px;
    color: #696969;
}


.btn a {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-right: 2px;
    padding: 1px 17px;
    text-decoration: none;
    color: #ffffff;
}

.btn .more-details {
    background-color: #81b3d2;
}

.btn .more-details:hover {
    background-color: #669ec0;
}

.btn .more-details:active {
    color: #88b6d1;
    background-color: #5496bd;
}

.btn .reserve {
    background-color: #766357;
}

.btn .reserve:hover {
    background-color: #604e43;
}

.btn .reserve:active {
    color: #7e7169;
    background-color: #503e33;
}

.search-results,
.hotels-content, 
.hotels {
    outline: 1px solid #e5e5e5;
}

.hotels .info-hotel {
    float: right;
    width: 152px;
    min-height: 126px;
    padding-right: 46px;
    padding-top: 26px;
    text-align: right;
}


.hotels-content {
    position: relative;
    z-index: 6;
    margin-bottom: 125px; 
}

.info-hotel p{
    padding-right: 14px;
    margin-top: 42px;
    margin-left: 40px; 
    color: #8b8b8b;
    background-color: #f2f2f2;
}

.info-hotel .icon-star:before {
    width: 2px;
    height: 2px;
    padding-right: 11px;
    font-size: 19px;
    line-height: 21px;
    font-family: "symbols-sedona";
    color: #81b3d2;
}